# testing
/coverage
/cypress/videos/
/cypress/screenshots/
/cypress/reports/
/mochawesome-report/

# IDE
.vscode

# dependencies
/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache